sudo: false
language: python
python:
  - "2.7"
matrix:
  include:
    - python: 3.5
      env:
      - TOX_ENV=py35
      - TOX_ENV=py34
env:
    - TOX_ENV=flake8
    - TOX_ENV=py27
    - TOX_ENV=py26
install:
    - pip install tox
script:
    - tox -e $TOX_ENV

