pytest
pytest-cov
sphinx>=1.1
pre-commit==2.13.0; python_version > '3.5'
black; python_version > '3.5' and platform_python_implementation != 'PyPy'
mypy; python_version > '3.5' and platform_python_implementation != 'PyPy'
