[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
filterwarnings = [
	"error",
	"ignore::DeprecationWarning",
	'ignore:distro\..*\(\) is deprecated and will be removed in a future version.*',
]
