name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install tox
        run: python -m pip install tox

      - name: Run tox
        run: tox -e lint

  test:
    name: Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - os: "ubuntu-20.04"
            python: "3.6"
          - os: "ubuntu-20.04"
            python: "pypy-3.6"
          - os: "ubuntu-22.04"
            python: "pypy-3.10"
          - os: "macos-latest"
            python: 3.12

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox
        run: python -m pip install tox

      - name: Run tox
        run: tox -e py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: .coverage

  windows:
    name: Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: codecov/codecov-action@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install tox
        run: python -m pip install tox

      - name: Run tox
        run: tox -e py
